<div class="card shadow-lg p-4 bg-white text-dark">

    <form method="POST">
        {% csrf_token %}

        <label>Name</label>
        <input type="text" name="name">

        <label>Email</label>
        <input type="email" name="email">

        <label>Pickup</label>
        <input type="text" name="pickup">

        <label>Drop</label>
        <input type="text" name="drop">

        <label>Date</label>
        <input type="date" name="date">

        <label>Time</label>
        <input type="time" name="time">

        <button type="submit">Book Ride</button>
    </form>

</div>
